$col-primery: #55c57a;
$col-primery-light: #7ed56f;
$col-primery-dark: #28b485;
$col-grey-dark: #777;
$col-white: white;
$col-black: #000;
$col-grey-1: #f7f7f7;
$col-border: #ff0055;
$col-sec-light: #ffb900;
$col-sec-dark: #ff7730;
$col-ter-light: #49a2f5;
$col-ter-dark: #5643fa;
$default-font-size: 1.6rem;
//

// variables  width
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
